<% head "pagination" do %>
<style type="text/css" media="screen">
  ul.pagination { display: inline; margin: 5px; padding: 0px; }
  ul.pagination li { display: inline; list-style: none; }
  ul.pagination li.selected { color: #cecece; }
  ul.pagination a { color: #fff; }
</style>
<% end %>

<span class='pagination_total_count'><%= @pagination.total_count %> <%= @pagination.total_count == 1 ? 'Record' : 'Records' %></span>

<% if @pagination.pages.max > 1 %>
<ul class='pagination'>
  <% if @pagination.selected_page > 1 %>
    <li class='previous'><a href='?<%= merge_query_string(request.query_string, 'page' => @pagination.selected_page - 1) %>'><%= @pagination.previous_text %></a></li>
  <% end %>
  <% @pagination.page_context.each do |i| %>
    <% if @pagination.selected_page == i %>
      <li class='selected'><%= i %></li>
    <% else %>
      <li><a href='?<%= merge_query_string(request.query_string, 'page' => i) %>'><%= i %></a></li>
    <% end %>
  <% end %>
  <% if @pagination.selected_page < @pagination.pages.max %>
    <li class='next'><a href='?<%= merge_query_string(request.query_string, 'page' => @pagination.selected_page + 1) %>'><%= @pagination.next_text %></a></li>
  <% end %>
</ul>
<% end %>