<span class="pagination_total_count"><%= @pagination.total_count %></span>

<ul class="pagination">
  <% if @pagination.selected_page > 1 %>
    <li><a href="?page=<%= @pagination.selected_page - 1 %>">Previous</a></li>
  <% end %>
  <% @pagination.pages.each do |i| %>
    <li<%= ' class="selected"' if @pagination.selected_page == i %>><a href="?page=<%= i %>"><%= i %></a></li>
  <% end %>
  <% if @pagination.selected_page < @pagination.pages.max %>
    <li><a href="?page=<%= @pagination.selected_page + 1 %>">Next</a></li>
  <% end %>
</ul>